body {
    font-family: 'Droid Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Ubuntu', sans-serif;
}

h1 a:hover {
    text-decoration: none;
    color: #5c2849;
}

a {
    color: #eb4863;
}

h1 a {
    color: #fd733f;
}

a:hover {
    color: #5c2849;
}

a:visited {
    color: #eb4863;
}

.contacts h5 {
    padding-top: 60px;
    font-size: large;
}

.sitemap h5 {
    padding-top: 20px;
}

nav {
    padding-top: 20px;
    text-align: right;
}

footer section{
    background-color: #fdd184;
}

img {
    margin-bottom: 10px;
    margin-left:110px;
}

li {
    list-style: none;
}

ul {
    padding-left: 0;
}

.contacts {
    height: 165px;
}

.contacts p{
    margin-bottom: -4px;
}

.sitemap {
    height: 165px;
}

.sitemap li {
    margin-bottom: -4px;
}

.tabs a span {
    display: inline-block;
    border-radius: 5px 5px 0 0;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    background: #fdd184;
    padding: 5px;
}

.tabs span.myActive {
    background: #5c2849;
}