.button-plus {
    padding-left: 0;
}

.comments p{
    border-radius: 3px;
}

.comments p:nth-child(even) {
    background: #f05a5a;
}

.comments p:nth-child(odd) {
    background: #efc319;
}

h3 {
    font-style: italic;
    padding-top: 15px;
}