body {
    font-family: 'Droid Sans', sans-serif;
    margin-top: 10px;
}

header, main, footer {
    min-width: 855px;
}

header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
}

header {
    background: white;
    overflow: auto;
}

header h1 {
    float: left;
    width: 570px;
    font-size: x-large;
}

header nav {
    float: right;
    width: 285px;
}

main {
    overflow: auto;
}

h2 {
    font-size: larger;
    margin-bottom: 10px;
}

h3 {
    font-size: large;
    margin-top: 20px;
    margin-bottom: 10px;
}

h5 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 1px;
}

main .left {
    float: left;
    width: 570px;
    margin-top: 60px;
}

main .right {
    float: right;
    width: 285px;
}

footer .left {
    float: left;
    width: 550px;
    background: #f9e933;
    height: 83px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 78px;

}

footer .sitemap {
    float: right;
    width: 265px;
    background: #f9e933;
    height: 140px;
    padding: 10px;
}

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

img {
    padding: 10px;
}

.sitemap li {
    margin-bottom: 4px;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

h1 a{
    text-decoration: none;
    color: black;
}

h1 a:hover{
    text-decoration: none;
}
